.image {
  margin-top: 3%;
  height: 25%;
  width: 82%;
  margin-left: 9%;
}
.carousel-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.bg-container{
  width: 100vw;
  height: 20vh;
}