.all-products-section {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 768px) {
    .all-products-section {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 100px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .all-products-container {
      margin-left: 30px;
      width: 70%;
    }
  }
  
  .products-heading {
    color: #475569;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
  }
  
  @media screen and (min-width: 768px) {
    .products-heading {
      font-size: 32px;
    }
  }
  
  .products-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  @media screen and (min-width: 768px) {
    .products-loader-container {
      width: 70%;
    }
  }
  
  .products-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
  
  .no-products-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
    margin-top: 48px;
  }
  
  @media screen and (min-width: 768px) {
    .no-products-view {
      margin-left: 30px;
      width: 70%;
      padding-bottom: 0;
      margin-top: 0px;
    }
  }
  
  .no-products-img {
    width: 250px;
    height: 180px;
  }
  
  @media screen and (min-width: 768px) {
    .no-products-img {
      width: 459px;
      height: 315px;
    }
  }
  
  .no-products-heading {
    color: #171f46;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3px;
  }
  
  @media screen and (min-width: 768px) {
    .no-products-heading {
      margin-top: 32px;
      font-size: 24px;
    }
  }
  
  .no-products-description {
    text-align: center;
    color: #64748b;
    font-family: 'Roboto';
    font-size: 14px;
    width: 90%;
    max-width: 288px;
    line-height: 1.3;
  }
  
  @media screen and (min-width: 768px) {
    .no-products-description {
      margin-top: 12px;
      font-size: 18px;
      width: 60%;
      max-width: 466px;
    }
  }
  
  .products-error-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    padding-bottom: 64px;
  }
  
  html {
    background-color: #eaf1f4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    font-size: 14px;
  }
  article {
    width: 87vw;
    height: 85vh;
    background: #f4f7f9;
    display: flex;
    z-index: 1;
    position: fixed;
    top: 0;
    border-radius: 5px;
    box-shadow: 0px 0.2px 1px 0px #616daa;
    margin: 60px;
  }
  
  .circleul {
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, #fd764a, #e4276d);
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: -100px;
    left: -100px;
  }
  .circlelr {
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, #fd764a, #e4276d);
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    bottom: -100px;
    right: -100px;
  }
  
  .leftCard {
    width: 63%;
    height: 100%;
    background-color: F4F7F9;
    border-radius: 5px 0 5px 0;
    border: none;
  }
  header {
    height: 12%;
    position: relative;
  }
  header img {
    margin: 25px 0 20px 25px;
    border-right: 2px solid #151515;
    padding-right: 20px;
  }
  header p {
    position: absolute;
    top: 20%;
    left: 10%;
    margin-left: 55px;
    color: #151515;
    font-size: 1.5rem;
  }
  footer {
    text-align: center;
    display: flex;
    padding: 10px 30px;
    justify-content: space-evenly;
  }
  .winnerCards {
    width: 10vw;
    height: 24vh;
    background: #fff;
    padding: 0 10px 10px 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 0.2px 0.2px 0px #616daa;
  }
  .winnerCards img {
    width: 7.5vw;
    height: 7.5vw;
  }
  .winnerCards h4 {
    margin-top: -10px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
  }
  .winnerCards p {
    margin: 8px;
    color: #676767;
    font-size: 10px;
  }
  
  .main {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1px;
  }
  .main img {
    margin: auto;
    width: auto;
    height: 20vmax;
  }
  .main h4 {
    padding: 10px 40px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 2.3rem;
    color: #3c3c3c;
    font-weight: normal;
  }
  .main p {
    color: #6f6f6f;
    margin-left: 40px;
    position: absolute;
    top: 46%;
  }
  .card-frame {
    padding: 35px;
  }

  .register-error{
      color: red;
      font-weight: bold;
  }

  .link1{
      text-decoration: none;
      font-size: 15px;
  }
  
  .right-card {
    width: 37%;
    background-color: #fff;
    border-radius: 0 8px 8px 0;
    overflow-y: scroll;
  }
  .right-card h4 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
  }
  .right-card p {
    font-size: 1rem;
  }
  .right-card span {
    color: #ec2626;
  }
  .right-card span:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .button1 {
    width: 100%;
    height: 45px;
    background: linear-gradient(to bottom, #fd764a, #e4276d);
    border: none;
    color: white;
    margin: 8px 0;
    cursor: pointer;
  }
  a {
    font-size: 9px;
  }
  a > b {
    color: #5d8ed5;
  }
  
  .password {
    font-size: 10px;
    color: #c42222;
  }
  .input1 {
    width: 100%;
    height: 45px;
    margin: 5px 0;
    border: 1px solid #92959f;
    border-radius: 2px;
    padding-left: 12px;
    box-sizing: border-box;
  }
  
  
  @media screen and (min-width: 768px) {
    .products-error-view-container {
      margin-top: 0px;
      margin-left: 30px;
      width: 70%;
      padding-bottom: 0;
    }
  }
  
  .products-failure-img {
    width: 250px;
    height: 200px;
  }
  
  @media screen and (min-width: 768px) {
    .products-failure-img {
      width: 400px;
      height: 350px;
    }
  }
  
  .product-failure-heading-text {
    color: #171f46;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
  }
  
  @media screen and (min-width: 768px) {
    .product-failure-heading-text {
      font-size: 24px;
    }
  }
  
  .products-failure-description {
    text-align: center;
    color: #64748b;
    font-family: 'Roboto';
    font-size: 14px;
    width: 90%;
    max-width: 288px;
    line-height: 1.3;
  }
  
  @media screen and (min-width: 768px) {
    .products-failure-description {
      font-size: 18px;
      width: 60%;
      max-width: 466px;
    }
  }
  